src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="sftp-system-api-config" api="sftp-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" queryParamsStrictValidation="true"/>
	<flow name="sftp-system-api-main">
        <http:listener path="/api/v1/*" config-ref="sftp-system-api-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]" reasonPhrase='#[vars.reasonPhrase default "OK"]'>
                <http:body ><![CDATA[#[%dw 2.0
output application/json
---
{
	correlationId: correlationId,
	statusCode: vars.httpStatus default 200,
	dateTime: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss"},
	message: vars.message default "Operation completed successfully",
	data: payload
}]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase='#[vars.reasonPhrase default "Server Error"]'>
                <http:body><![CDATA[#[%dw 2.0
output application/json
---
{
	correlationId: correlationId,
	statusCode: vars.httpStatus default 500,
	namespace: error.errorType.namespace,
	identifier: error.errorType.identifier,
	description: payload.message,
}]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sftp-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message" doc:id="cf8e5706-0ce8-4d78-8c7f-c0cabe3b0611" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\invoices:sftp-system-api-config">
		<flow-ref doc:name="impl-get-invoices" doc:id="f36127d7-1cab-4403-9612-cd855107e4f1" name="impl-get-invoices" />
    </flow>
    <flow name="get:\invoices\(id):sftp-system-api-config">
		<flow-ref doc:name="impl-get-invoice-by-id" doc:id="585bd41e-fdb4-4122-b472-43221ff9457f" name="impl-get-invoice-by-id" />
    </flow>
	<flow name="impl-map-planif" doc:id="4d3d9988-efd6-45f6-bfdb-a440cec917a7">
		<scheduler doc:name="Scheduler" doc:id="cfb17ced-9a4e-4ebc-ab18-690d7abba539">
			<scheduling-strategy>
				<cron expression="0 0 2 * * ?" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="sub-planif-mapping" doc:id="124dc7ed-d436-43f0-b746-46fe6c9b9b0d" name="sub-planif-mapping" />
	</flow>
	<flow name="get:\products:sftp-system-api-config">
		<logger level="DEBUG" doc:name="Start getProducts flow" doc:id="310de8d6-cbe1-4d92-a30c-40dc2abd3e4f" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "Start getProducts flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
		<flow-ref doc:name="impl-get-products" doc:id="72fda037-d0ad-4b05-940c-552656b47fa8" name="impl-get-products"/>
		<set-variable value="Products retrieved successfully." doc:name="[message]" doc:id="91ad1e53-73e4-4f04-ae4c-223c377d98e7" variableName="message" />
		<logger level="DEBUG" doc:name="End getProducts" doc:id="1cdbd82f-909d-4f3e-8426-87f47799b62b" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "End getProducts flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
    </flow>
	<flow name="delete:\products\(id):sftp-system-api-config">
        <logger level="DEBUG" doc:name="Start deleteProduct flow" doc:id="b2d4e943-ae81-4830-a169-1966dba61c8e" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "Start addStockToProduct flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
		<flow-ref doc:name="impl-delete-product" doc:id="c27bb018-390c-4383-bbcb-9d509f0978e6" name="impl-delete-product"/>
		<set-variable value="NO_CONTENT" doc:name="[reasonPhrase]" doc:id="df4ebe9a-d480-4789-b7cb-152d3b87b0a4" variableName="reasonPhrase" />
		<logger level="DEBUG" doc:name="End deleteProduct flow" doc:id="2a393142-4edd-461b-aa69-d8e5174d94df" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "End getProducts flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
    </flow>
	<flow name="post:\products:sftp-system-api-config">
		<logger level="DEBUG" doc:name="Start createProduct flow" doc:id="0bf6c0e9-56f2-408b-bb14-81776bc8558f" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "Start createProduct flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
		<flow-ref doc:name="impl-create-product" doc:id="8d97a920-ac0e-4602-9fe6-79e9f894483d" name="impl-create-product" />
		<set-variable value="CREATED" doc:name="[reasonPhrase]" doc:id="72dee796-f17f-4fd6-875e-847561110802" variableName="reasonPhrase"/>
		<set-variable value="Product created successfully." doc:name="[message]" doc:id="b7492967-6c35-4534-8023-4e055ea26a85" variableName="message"/>
		<logger level="DEBUG" doc:name="End createProduct flow" doc:id="a1381cb4-68c8-42c6-90e8-d0b0ea4f4201" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "End createProduct flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
    </flow>
    <flow name="post:\products\(id):sftp-system-api-config">
		<logger level="DEBUG" doc:name="Start addStockToProduct flow" doc:id="d676f0e4-5508-4acd-8c4b-f59cd7c6f443" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "Start addStockToProduct flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
		<flow-ref doc:name="impl-add-product-stock" doc:id="169afb94-04a5-4d4c-b742-5a9121699d15" name="impl-add-product-stock"/>
		<set-variable value="CREATED" doc:name="[reasonPhrase]" doc:id="c0f69417-bce5-492c-80af-279dd90eacd7" variableName="reasonPhrase" />
		<set-variable value="Product stock added successfully." doc:name="[message]" doc:id="7a0afc76-b9b8-4168-a3f7-d49b5fbe3904" variableName="message" />
		<logger level="DEBUG" doc:name="End addStockToProduct flow" doc:id="bbc37778-c5a3-4e35-bcc2-96805432bd3a" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"step": "End createProduct flow",&#10;	"data": &#10;		{&#10;			"business": attributes,&#10;			"technical": payload&#10;		}&#10;}]' category="sys-sftp"/>
    </flow>
</mule>
